@charset "UTF-8";

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  
 .container-fluid {
    background-color: #d8cba7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.319);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    text-align: center;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    transform: translateX(20%);
    gap: 40px;
    font-size: 1.2em;
    flex-wrap: wrap; 
    margin-top: 30px;
  }

  ul > li .dropdown-menu {
    background-color:#ded0ab;
  }

  .dropdown-menu .dropdown-item {
    text-align: center;
  }

  ul > li .dropdown-item:hover {
    background-color:#212529;
    color: #fff;
  }

  .navbar .dropdown-menu .dropdown-item.active,
  .navbar .dropdown-menu .dropdown-item:active {
    background-color: #212529;
  }

  form {
    transform: translate(100%, 190%);
  }

  main {
    background-color: #fefdeb;
  }

  .carousel-inner img {
    height: 500px;
    object-fit: cover;
  }

 .carousel-caption {
    right: 15%;
    left: 15%;
    text-align: left;
    color: #000;
  }

  .carousel-caption h5 {
    font-size: 4.2rem;
    font-weight: bold;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }

  .btn-custom {
    background-color: #f1c40f;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
  }

  .btn-custom:hover {
    background-color: #f39c12;
  }

  #descricao-joias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin: 150px;
  }

  .card-container {
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    width: 250px; 
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    overflow: hidden; 
    background-color: #fff;
    gap: 20px;
    margin: 15px;
    cursor: pointer;
  }

  .card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    transition: transform 0.3s;
  }

  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d8cba7ac; 
    transition: opacity 0.3s;
    opacity: 0;
  }

  .card:hover::after {
    opacity: 1; 
  }

  @media (min-width: 992px) {

  .container-fluid {
    height: 220px;
    padding-bottom: 40px;
  }

  .navbar-brand {
    height: 150px;
  }

  .navbar-brand img{
    width: 300px;
    position: absolute; 
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%)
  }

   .navbar-nav {
    display: flex;
    font-size: 1.2em;
    flex-wrap: wrap; 
    padding-top: 120px;
  }

  .carousel {
    padding-top: 190px;
  }

  }

  @media (max-width: 992px){
  
  .container-fluid {
    padding-bottom: 30px;
  }

  .navbar-nav {
    transform: translateX(0%);
    gap: 30px;
  }

  .navbar-brand img{
    transform: translateX(5%);
    width: 200px;
  }

  .dropdown-menu {
    width: 150px;
  }

  form {
    margin-top: 30px;
    transform: translate(0%, 0%);
    padding-bottom: 20px;
  
  }

  .carousel-caption h5 {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel {
    padding-top: 100px;
  }

  .card-container {
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
}